{% extends "theme/bage.html" %}

{% block head %}



<title>沼泽湿地数据共享节点</title>
<meta name="keywords" content="沼泽湿地,湿地数据,湿地科学,科学数据,科学数据共享节点">
<meta name="description" content="沼泽湿地数据共享节点">
<style type="text/css">
    #map {
        width: 100%;
        height: 200px;
        border: 1px solid black;
    }
</style>

{% endblock %}

{% block zhuti %}

<h1>asfd</h1>
<h2>{{ test }}</h2>

<bR>
<div class="row">
    <div class="col-sm-8">


        <div class="row">


            <div class="col-sm-6">


            </div>
            <div class="col-sm-6">


            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">


            </div>


            <div class="col-sm-6">


            </div>
        </div>


    </div>


    <div class="col-sm-4">
        <div class="col-sm-12">

            <ul class="list-group" id="list-group">
                <li class="panel-heading2"><a>News</a></li>

                {{ post_recent( num = 3, with_catalog = False)|safe }}

            </ul>
        </div>
        <div class="col-sm-12">

            <ul class="list-group" id="list-group">
                <li class="panel-heading2"><a>Online maps and tools</a></li>
                <li class="list-group-item"><a href="http://maplet.osgeo.cn/map/0001">中国自然保护区_在线地图</a></li>
                <li class="list-group-item"><a href="http://maplet.osgeo.cn/map/0081">国家级自然保护区分布图_在线地图</a></li>
                <li class="list-group-item"><a href="http://maplet.osgeo.cn/map/01fd">中国自然保护区的数量与结构地图</a>
                </li>
                <li class="list-group-item"><a href="http://www.yunsuan.org/app/3202">1比2.5万新旧地形图分幅编号在线转换</a>
                </li>
                <li class="list-group-item"><a href="http://www.yunsuan.org/app/3206">1比5万新旧地形图分幅编号在线转换</a></li>
                <li class="list-group-item"><a href="http://www.yunsuan.org/app/3202">1比25万新旧地形图分幅编号在线转换</a>
                </li>

                <li class="list-group-item"><a href="http://www.yunsuan.org/app/3200">1比50万新旧地形图分幅编号在线转换</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12">


            <div id="list-group">
                <div class="panel-heading2"><a href="/page/cmi.html" class="move"> Survey project of wetland
                    resources in
                    China </a></div>
            </div>
            <bR>

            <div class="col-sm-12">
                Chinese marsh wetland resources investigation will be on the basis of the existing work, marsh
                wetland
                classification and further establish a scientific survey specification, break administrative
                division
                limit,
                from hydrothermal differentiation and natural geographical units as partition principle, focusing on
                the
                investigation of water peat and germplasm resources, will make up for the weak link in the past
                project
                <br><br>
            </div>


            <div id="list-group">
                <div class="panel-heading2"><a> Subject Data Bases</a></div>
            </div>
            <br>

            <div class="col-sm-12">
                Chinese marsh wetland resources investigation will be on the basis of the existing work, marsh
                wetland
                classification and further establish a scientificChinese marsh wetland resources investigation will
                be
                on the basis of the existing work
                <br><br>
            </div>


        </div>


    </div>

</div>


<div class="col-sm-12" id="list-group">

    <div class="panel-heading2"><a href="post/recent">Picture</a></div>

</div>
<br><Br>

<div class="col-sm-12">
    <div class="indexGoods">
        <div class="panel panel-info">

            <div class="panel-body">
                <div class="scrollBox">
                    <div class="goodsImage" style="width: 100%; overflow: hidden">
                        <ul class="list">
                            {% for x in view %}
                            <li style="float: left; width: 162px; margin-right: 10px ">
                                <a href="/post/{{ x.uid }}.html" title="{{ x.title }}">
                                    <img src="{{ x.logo }}" width="162"
                                         height="120"
                                         alt="{{ x.title }}" style="border: 1px solid #ddd">
                                    <span>{{ str(x.title)[:21]}}...</span>
                                </a>
                            </li>
                            {% endfor %}


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<br><br>
<script type="text/javascript">
    jQuery(".indexGoods").slide({
        mainCell: "ul",
        effect: "leftMarquee",
        vis: 7,
        autoPlay: true,
        interTime: 50,
        switchLoad: "_src"
    });
</script>


{% endblock %}
