{% extends "../theme/tmpldoc.html" %}

{% block content %}
<ol class="breadcrumb">
    <li>Current location: <a href="{% module site_url() %}">Home</a></li>
    <li class="active">{{ view.title }}</li>
</ol>
<div id="list-group" class="panel panel-default">

    <div class="panel-heading">

        <h2>{{ view.title }}</h2>

        <span>{{ str(view.date)[:10] }}</span>
        <span>Author: <a href="http://www.osgeo.cn">OSGeo中国中心</a></span>

        <span>Browse: {{ view.view_count }} 次</span>

      {% if userinfo and userinfo.role[2] >= '1' %}
            <span class="cmts">
            <a href="/page/modify/{{ view.uid }}">编辑</a></span>
        {% end %}

    </div>

    <div class="panel-body">

        <div class="entry">
            <p class="summary"><strong>Abstract</strong>:
                {% module generate_abstract(view.cnt_html) %}
            </p>

            <div class="entrycontent">

                {% raw unescape(view.cnt_html) %}


            </div>
        </div>

        <div class="postmeta">
            <div class="wpyouvote"></div>
            <div class="clear"></div>
            <br/>
            <strong>Article link:</strong> <a href="{% module site_url() %}/page/{{ view.uid }}" class="underline">
            {{ view.title }}</a><br/>
            <strong>Copyright:</strong> Non special statement are original articles, reproduced please indicate the
            source：
            <a href="http://www.osgeo.cn" class="underline">OSGeo中国中心</a>

        </div>

    </div>

    <div class="panel-footer">
         <div class="row">
        <div class="col-sm-12">
           {% module baidu_share() %}
    </div>
    </div>
    </div>
    <div class="clear"></div>


</div>


{% end %}

