{% extends "../theme/tmpldoc.html" %}

{% block head%}

<title>OSGeo中国中心 | 开放地理空间实验室</title>
<meta name="keywords" content="GIS,地理信息系统,开源GIS,OSGeo,OpenLayers,MapServer,GDAL,GIS教程,WebGIS">
<meta name="description" content="OSGeo中国中心实验室，关注开源GIS，开放数据">
{% end %}

{% block content %}



<script type="text/javascript">
    $().ready(function () {
        // jquery.validate.js 验证
        $("#form_post").validate(
                {
                    rules: {
                        title: {
                            required: true
                        },
                        cnt_md: {
                            required: true
                        }
                    },
                    messages: {
                        title: {
                            required: "<span class='red'>请输入标题</span>"
                        },
                        cnt_md: {
                            required: "<span class='red'>请输入内容</span>"
                        }
                    }
                }
        );
    });
</script>
<div class="panel panel-default">
    <div class="panel-heading"> 您的位置: <a href="{% module site_url() %}">首页</a> >
        修改-{{ dbrec.title }}
    </div>
    <div class="panel-body">
    <form action="" method="post" class="form-horizontal" id="form_post">
        <fieldset>
            <input type="hidden" id="uid" name="uid" value="{{ dbrec.uid }}"/>

            <div class="form-group">
               <label  class="col-sm-2 control-label" for="title">标题</label>
                <div class="col-sm-10">
                <input type="text" id="title" name="title" value="{{ dbrec.title }}"  class="form-control">
            </div>
            </div>


            <div class="form-group">
               <label  class="col-sm-2 control-label" for="cnt_md">内容<br/>(MarkDown语法)</label>
                <div class="col-sm-10">
            <textarea rows=26 id="cnt_md" name="cnt_md" cols="100" class="form-control">
                {% raw unescape(dbrec.cnt_md) %}
            </textarea>
            </div>
            </div>

            <div class="form-group">
               <label  class="col-sm-2 control-label" for="sub1"></label>
                <div class="col-sm-10">
                <input id="sub1" type="submit" value="更新数据" class="btn btn-primary">
            </div>
            </div>
        </fieldset>
    </form>
</div>
</div>

{% end %}


