{% extends "../tmplinfo.html" %}



{% block typebody %}
<div class="panel panel-default" id="guarantee">

    <div class="alert alert-info">
        <div class="row">
            <div class="col-sm-3"> 当前位置：<a href="{% module site_url() %}"> 首页 </a> ></div>
            <div class="col-sm-9"> {% module BreadcrumbPublish(2) %}</div>
        </div>
    </div>


    <div class="panel-body">

        <form class="form-horizontal" role="form" id="form_add_info" name="form_add_info" method="post"
              enctype="multipart/form-data" action="/info/to_add">


            <input type='hidden' name="uid" value="{% raw kwd['uid'] %}">
            <input type='hidden' name="valid" value="1">

            <input type='hidden' name="def_cat_uid" value="{% raw kwd['def_cat_uid'] %}">


            <input name="action" value="dopost" type="hidden">
            <input name="ismember" value="0" type="hidden">

            <input name="id" value="" type="hidden">
            <input name="mixcode" value="4c9734774f6b40682d35c0ccee0b0845" type="hidden">

            <div class="form-group">
                <label class="col-sm-2 control-label"> </label>

                <div class="col-sm-10">
                    <b> 基本数据信息 : {{ kwd['parentname'] }} > {{ kwd['catname'] }}</b>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">

                    <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></a>
                    标题： </label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" id="title">

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">

                    <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></a>
                    标签 ： </label>

                <div class="col-sm-10">
                    <input id="tags" name="tags" class="form-control">
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-2 control-label">

                    <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></a>
                     关键词（逗号分隔） ： </label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="keywords" id="keywords" onkeyup="chuli_kw();">


                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">

                </label>

                <div class="col-sm-10">
                    <p id="kwlist"></p>


                </div>
            </div>
 <div class="form-group">
             <label class="col-sm-2 control-label">
               <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;" for="ext_logo"></a> 图片   </label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="logo" name="logo">

                </div>
                </div>

            <div class="form-group">
            <label class="col-sm-2 control-label">    </label>
<div class="col-sm-10">
                <a href="/entry/add" target="_blank" class="contactbutton" role="button">上传图片 </a>


                </div>
                </div>
           <div class="form-group">

                <label class="col-sm-2 control-label">

                    <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></a>
                    内容（Markdown） ：

                </label>

                <div class="col-sm-10">

                    <textarea class="form-control" rows=26 id="cnt_md" name="cnt_md" cols="100"></textarea>
                </div>
            </div>

            <hr/>

            {% block extrainfo %}{% end %}

            <hr/>





            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></a>
                    贡献者： </label>

                <div class="col-sm-10">
                        <input class="form-control" name="ext_contributor" id="ext_contributor" >




                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">

                    <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></a>
                    联系单位：
                </label>

                <div class="col-sm-10">
                        <input class="form-control" name="ext_company" id="ext_company">




                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">

                    <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></a>
                    联系地址：
                </label>

                <div class="col-sm-10">
                        <input class="form-control" name="ext_address" id="ext_address">




                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">

                    <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></a>
                    联系电话：
                </label>

                <div class="col-sm-10">
                        <input class="form-control" name="ext_tel" id="ext_tel">




                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">

                    <a class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;"></a>
                    联系邮箱：
                </label>

                <div class="col-sm-10">
                        <input class="form-control" name="ext_email" id="ext_email">


                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"> </label>

                <div class="col-sm-10">
                    <input type="submit" name="post_submit" value="提交" id="Button1"
                           class="btn btn-primary" role="button"/>

                </div>
            </div>


        </form>


    </div>
</div>


{% end %}
