<span class="cmts"><a href="/{{kwd['router']}}/edit/{{ kwd['uid']  }}" class="btn btn-xs btn-danger">Help to Edit</a></span>

{% if userinfo %}

{% if userinfo.role[0] > '0' %}
<span class="cmts"><a href="/{{ 'wiki' if kwd['router'] == 'wiki' else 'meta' }}_hist/edit/{{kwd['uid'] }}"
                      class="btn btn-xs btn-danger">EditInfo</a></span>
{% end %}

{% if userinfo.role[1] >= '2' %}
<span class="cmts"><a href="/{{ 'wiki' if kwd['router'] == 'wiki' else 'meta' }}_hist/view/{{ kwd['uid']  }}"
                      class="btn btn-xs btn-danger"> Manage</a></span>
{% end %}

{% end %}
