{% extends "admin.html" %}
{% block head %}
<script type="text/javascript">
    function js_show_page(url_str) {
        $('#showCnt').load(url_str);
    }

    jQuery().ready(function () {
        $("#user_navigation").accordion();
        js_show_page('/user_j/info');
    });
</script>


{% end %}

{% block zhuti %}


<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="panel-group" id="accordion">

        <div class="panel panel-black">
            <div class="panel-title">
                <h4>

                    <a data-toggle="collapse" href="#sub-item-1" data-parent="#accordion" >
                        <span class="glyphicon glyphicon-list"></span>
                        信息管理<em
                            class="glyphicon glyphicon-s glyphicon-plus  pull-right"></em></a>
                </h4>
            </div>

            <div class="children collapse" id="sub-item-1">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a onclick="js_show_page('/user_p/info')" style="cursor: pointer;">
                                <span class="glyphicon glyphicon-user"></span>
                                用户信息</a></li>
                        <li class="list-group-item">
                            <a onclick="js_show_page('/user_p/info')" style="cursor: pointer;">
                                <span class="glyphicon glyphicon-cog"></span>会员状态</a>
                        </li>

                        <li class="list-group-item">
                            <a onclick="js_show_page('/user_p/changepass')" style="cursor: pointer;">
                                <span class="glyphicon glyphicon-pencil"></span>修改密码</a>
                        </li>
                        <li class="list-group-item">
                            <a onclick="js_show_page('/user_p/changeinfo')" style="cursor: pointer;">
                            <span class="glyphicon glyphicon-pencil"></span>修改个人信息</a>
                        </li>
                        {% if userinfo.role[2] >= 'c' %}
                        <li class="list-group-item"><a onclick="js_show_page('/user_p/find')"><span
                                class="glyphicon glyphicon-info-sign"></span>查看所有用户</a>
                        </li>
                        {% end %}


                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-black">
            <div class="panel-title">
                <h4>

                    <a data-toggle="collapse" href="#sub-item-4" data-parent="#accordion" >
                        <span class="glyphicon glyphicon-list"></span>单页管理
                        <em class="glyphicon glyphicon-s glyphicon-plus  pull-right"></em></a>

                </h4>
            </div>
            <div class="children collapse" id="sub-item-4">
                <div class="panel-body">

                    <ul  class="list-group">

                        <li  class="list-group-item">
                            <a onclick="js_show_page('/page_p/_add')" style="cursor: pointer;"><span
                                    class="glyphicon glyphicon-share-alt"></span>Add</a>
                        </li>

                        <li  class="list-group-item">
                            <a onclick="js_show_page('/page_p/list')" style="cursor: pointer;"><span
                                    class="glyphicon glyphicon-share-alt"></span>所有单页</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>


        <div class="panel panel-black">
            <div class="panel-title">
                <h4>

                    <a data-toggle="collapse" href="#sub-item-2" data-parent="#accordion" >
                        <span class="glyphicon glyphicon-list"></span>
                        信息管理<em
                            class="glyphicon glyphicon-s glyphicon-plus  pull-right"></em></a>
                </h4>
            </div>
            <div class="children collapse" id="sub-item-2">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a onclick="js_show_page('/post_j/add_document')" style="cursor: pointer;">
                            <span class="glyphicon glyphicon-share-alt"></span>添加信息</a></li>
                        {% for router, slug in router_post.items() %}
                        <li class="list-group-item"><a onclick="js_show_page('/post_list/p_recent/{{router}}')" style="cursor: pointer;">
                            <span class="glyphicon glyphicon-share-alt"></span>{{slug}}</a></li>
                        {% end %}

                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <span id="showCnt"></span>
</div>

{% end %}
