{% extends "../../tmpldoc/tmpldoc.html" %}

{% block content %}
<ol class="breadcrumb">
  <li>当前位置: <a href="{% module site_url() %}">首页</a></li>
    <li>信息</li>
  <li class="active">{{ kwd['tag_slug'] }}</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"> {{ kwd['tag_slug']}}</div>
    </div>


    <ul class="list-group">
        {% for rec in infos %}
        <li class="list-group-item"><a href="/info/{{ rec.uid }}">{{ rec.title }}</a>

        </li>
        {% end %}
    </ul>


    <div class="panel-footer">
        <ul class="pagination">
            {% raw pager %}
        </ul>
    </div>
</div>


{% end %}
