<div class="sixteen column">


    {% raw post_info.infor['contributor'][0] %}

</div>


<div class="sixteen column">
    <div class="six column">
        Keyword
    </div>
    <div class="ten  column">
        {% raw post_info.infor['keywords'][0] %}
    </div>
</div>

<div class="sixteen column">

    Data references and declarations

    {% raw post_info.infor['statement'][0] %}

</div>


<div class="sixteen column">
    <div class="six column">
        Information Sources
    </div>
    <div class="ten  column">
        {{ kwd['maskip'] }}
        <!--
        <span style="margin-left:10px; font-size:12px; color:green">吉林省长春市电信
        -->

    </div>
</div>
