@charset "UTF-8";
/* GLOBAL STYLES
 *-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* line 7, ../sass/_carousel.sass */
body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* line 11, ../sass/_carousel.sass */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* line 15, ../sass/_carousel.sass */
a {
  color: #006699;
  text-decoration: none;
}
/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #006699;
}
/* line 4, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* CUSTOMIZE THE NAVBAR
 *-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* line 27, ../sass/_carousel.sass */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
/* line 33, ../sass/_carousel.sass */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
/* line 36, ../sass/_carousel.sass */
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

/* Flip around the padding for proper display in narrow viewports */
/* CUSTOMIZE THE CAROUSEL
 *-------------------------------------------------- */
/* Carousel base class */
/* line 47, ../sass/_carousel.sass */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
/* line 53, ../sass/_carousel.sass */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
/* line 58, ../sass/_carousel.sass */
.carousel .item {
  height: 500px;
  background-color: #777;
}

/* line 62, ../sass/_carousel.sass */
.carousel-inner > .item > img {
  position: absolute;
  top: 21px;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* MARKETING CONTENT
 *-------------------------------------------------- */
/* Pad the edges of the mobile views a bit */
/* line 74, ../sass/_carousel.sass */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 77, ../sass/_carousel.sass */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
/* line 80, ../sass/_carousel.sass */
.marketing h2 {
  font-weight: normal;
}
/* line 82, ../sass/_carousel.sass */
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Center align the text within the three columns below the carousel */
/* Featurettes
 *------------------------- */
/* line 91, ../sass/_carousel.sass */
.featurette-divider {
  margin: 80px 0;
}

/* Space out the Bootstrap <hr> more */
/* Thin out the marketing headings */
/* line 97, ../sass/_carousel.sass */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
 *-------------------------------------------------- */
@media (min-width: 768px) {
  /* Remove the edge padding needed for mobile */
  /* line 107, ../sass/_carousel.sass */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  /* line 111, ../sass/_carousel.sass */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* line 113, ../sass/_carousel.sass */
  .navbar-wrapper .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 116, ../sass/_carousel.sass */
  .navbar-wrapper .navbar {
    padding-left: 0;
    padding-right: 0;
    border-radius: 4px;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  /* Bump up size of carousel content */
  /* line 122, ../sass/_carousel.sass */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  /* line 126, ../sass/_carousel.sass */
  .featurette-heading {
    font-size: 38px;
    line-height: 50px;
  }
}
@media (min-width: 992px) {
  /* line 131, ../sass/_carousel.sass */
  .featurette-heading {
    margin-top: 90px;
  }
}
/* Common styles for all types */
/* line 136, ../sass/_carousel.sass */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
/* line 140, ../sass/_carousel.sass */
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
/* line 143, ../sass/_carousel.sass */
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* Variations */
/* line 148, ../sass/_carousel.sass */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
/* line 151, ../sass/_carousel.sass */
.bs-callout-danger h4 {
  color: #b94a48;
}

/* line 154, ../sass/_carousel.sass */
.bs-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
/* line 157, ../sass/_carousel.sass */
.bs-callout-warning h4 {
  color: #8a6d3b;
}

/* line 160, ../sass/_carousel.sass */
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
/* line 163, ../sass/_carousel.sass */
.bs-callout-info h4 {
  color: #34789a;
}

/* Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content. */
/* By default it's not affixed in mobile views, so undo that */
/* line 174, ../sass/_carousel.sass */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
/* line 179, ../sass/_carousel.sass */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
/* line 192, ../sass/_carousel.sass */
.bs-sidebar .nav li a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
/* line 196, ../sass/_carousel.sass */
.bs-sidebar .nav li a:hover, .bs-sidebar .nav li a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
/* line 201, ../sass/_carousel.sass */
.bs-sidebar .nav li .active > a, .bs-sidebar .nav li .active:hover > a, .bs-sidebar .nav li .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}
/* line 206, ../sass/_carousel.sass */
.bs-sidebar .nav .nav {
  display: none;
  /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
/* line 210, ../sass/_carousel.sass */
.bs-sidebar .nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Nav: second level (shown on .active) */
/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  /* line 221, ../sass/_carousel.sass */
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* line 223, ../sass/_carousel.sass */
  .bs-sidebar.affix, .bs-sidebar.affix-bottom {
    width: 213px;
  }
  /* line 225, ../sass/_carousel.sass */
  .bs-sidebar.affix {
    position: fixed;
    /* Undo the static from mobile first approach */
    top: 80px;
  }
  /* line 229, ../sass/_carousel.sass */
  .bs-sidebar.affix-bottom {
    position: absolute;
    /* Undo the static from mobile first approach */
  }
  /* line 232, ../sass/_carousel.sass */
  .bs-sidebar.affix-bottom .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
  /* line 235, ../sass/_carousel.sass */
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
/* Widen the fixed sidebar */
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  /* line 243, ../sass/_carousel.sass */
  .bs-sidebar.affix-bottom, .bs-sidebar.affix {
    width: 263px;
  }
}
/* Docs sections
 *
 * Content blocks for each component or feature. */
/* Space things out */
/* line 253, ../sass/_carousel.sass */
.bs-docs-section + .bs-docs-section {
  padding-top: 40px;
}

/* Janky fix for preventing navbar from overlapping */
/* line 258, ../sass/_carousel.sass */
h1[id] {
  padding-top: 80px;
  margin-top: -45px;
}

/* line 262, ../sass/_carousel.sass */
.footer {
  color: #999;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

/* line 270, ../sass/_carousel.sass */
.subhead {
  padding-top: 80px;
  padding-bottom: 20px;
  color: #fff;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(45deg, #020031, #6d3353);
  background-image: -moz-linear-gradient(45deg, #020031, #6d3353);
  background-image: linear-gradient(45deg, #020031, #6d3353);
}
/* line 278, ../sass/_carousel.sass */
.subhead:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 287, ../sass/_carousel.sass */
.redhead {
  padding-top: 80px;
  padding-bottom: 20px;
  color: #fff;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(45deg, #FF3030, #FF3030);
  background-image: -moz-linear-gradient(45deg, #020031, #6d3353);
  background-image: linear-gradient(45deg, #4b0082, #ff3030);
}

/* line 296, ../sass/_carousel.sass */
.subhead:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 305, ../sass/_carousel.sass */
#scrollUp {
  bottom: 20px;
  right: 20px;
  height: 38px;
  width: 38px;
}

/* background: url("../images/top.png") no-repeat; */
/* line 313, ../sass/_carousel.sass */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left 0, left 100%, from(#428bca), to(#357ebd));
  background-image: -webkit-linear-gradient(top, #428bca 0, #357ebd 100%);
  background-image: -moz-linear-gradient(top, #428bca 0, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
  color: #FFF;
  background-color: #357ebd;
}

/* line 324, ../sass/_carousel.sass */
.red {
  color: #fff;
}

/* line 330, ../sass/_carousel.sass */
.lead {
  font-size: 1.3em;
}
/* line 332, ../sass/_carousel.sass */
.lead a:hover {
  cursor: pointer;
}

/* line 337, ../sass/_carousel.sass */
.panel-black {
  border-color: #666;
}
/* line 339, ../sass/_carousel.sass */
.panel-black .panel-heading {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
/* line 343, ../sass/_carousel.sass */
.panel-black .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #666;
}
/* line 345, ../sass/_carousel.sass */
.panel-black .panel-heading .panel-footer + .panel-collapse > .panel-body {
  border-color: #337ab7;
}
/* line 349, ../sass/_carousel.sass */
.panel-black .active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
/* line 353, ../sass/_carousel.sass */
.panel-black .active a {
  color: #fff;
}
/* line 355, ../sass/_carousel.sass */
.panel-black .active:hover {
  background: #666;
}

/* line 359, ../sass/_carousel.sass */
.panel-wetland {
  border-color: #761c19;
}
/* line 361, ../sass/_carousel.sass */
.panel-wetland .panel-heading {
  color: #fff;
  background-color: #8f5536;
  border-color: #666;
}
/* line 365, ../sass/_carousel.sass */
.panel-wetland .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #666;
}
/* line 367, ../sass/_carousel.sass */
.panel-wetland .panel-heading .panel-footer + .panel-collapse > .panel-body {
  border-color: #337ab7;
}
/* line 371, ../sass/_carousel.sass */
.panel-wetland .active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
/* line 375, ../sass/_carousel.sass */
.panel-wetland .active a {
  color: #fff;
}
/* line 377, ../sass/_carousel.sass */
.panel-wetland .active:hover {
  background: #666;
}

/* line 380, ../sass/_carousel.sass */
.panel-info {
  border-color: #31708f;
  color: #d9d9d9;
}
/* line 383, ../sass/_carousel.sass */
.panel-info .panel-heading {
  color: #d9edf7;
  background-color: #31708f;
  border-color: #31708f;
}
/* line 387, ../sass/_carousel.sass */
.panel-info .panel-heading a {
  color: #d9edf7;
  text-decoration: none;
}
/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.panel-info .panel-heading a:hover {
  color: #d9edf7;
}
/* line 4, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.panel-info .panel-heading a:hover, .panel-info .panel-heading a:focus {
  text-decoration: underline;
}

/* line 394, ../sass/_carousel.sass */
.panel-primary .panel-heading a {
  color: #fff;
}
/* line 398, ../sass/_carousel.sass */
.panel-primary .more {
  color: #fff;
  float: right;
}

/* line 404, ../sass/_carousel.sass */
input select textarea {
  font-family: "Lucida Console", Monaco, monospace;
}

/* line 409, ../sass/_carousel.sass */
.panel-heading h1 {
  font-size: 1.4em;
  text-align: center;
}

/* line 416, ../sass/_carousel.sass */
#wiki_cnt {
  text-align: justify;
}
/* line 418, ../sass/_carousel.sass */
#wiki_cnt p {
  text-indent: 2em;
  line-height: 1.6em;
}
/* line 421, ../sass/_carousel.sass */
#wiki_cnt h1, #wiki_cnt h2, #wiki_cnt h3, #wiki_cnt h4, #wiki_cnt h5 {
  text-indent: 0;
}
/* line 423, ../sass/_carousel.sass */
#wiki_cnt h1 {
  font-size: 1.5em;
  line-height: 1.6em;
}
/* line 426, ../sass/_carousel.sass */
#wiki_cnt h2 {
  font-size: 1.4em;
  line-height: 1.5em;
}
/* line 429, ../sass/_carousel.sass */
#wiki_cnt h3 {
  font-size: 1.3em;
  line-height: 1.4em;
}
/* line 432, ../sass/_carousel.sass */
#wiki_cnt h4 {
  font-size: 1.2em;
  line-height: 1.3em;
}
/* line 435, ../sass/_carousel.sass */
#wiki_cnt h5 {
  font-size: 1.1em;
  line-height: 1.2em;
}

/* line 439, ../sass/_carousel.sass */
.listinfo_content, .listinfo_title {
  word-wrap: break-word;
  word-break: break-all;
}

/* line 443, ../sass/_carousel.sass */
#bwlj a {
  color: #003366;
}

/* line 447, ../sass/_carousel.sass */
.flbt {
  color: #fff;
}
/* line 449, ../sass/_carousel.sass */
.flbt:hover, .flbt:focus {
  color: #fff;
  opacity: 0.8;
}

/* line 2, ../sass/_tags.sass */
.app_tag, .post_cat {
  font-size: 0.8em;
  padding: 0px;
  display: inline;
}

/* line 25, ../sass/inc/_tags.sass */
/* line 10, ../sass/_tags.sass */
.app_tag a, .post_cat a {
  color: #fff;
  text-decoration: none;
  margin: 1px 3px;
  padding: 2px 5px;
  border-radius: 2px;
}
/* line 16, ../sass/_tags.sass */
.app_tag a:hover, .app_tag a:focus, .post_cat a:hover, .post_cat a:focus {
  color: #fff;
  opacity: 0.8;
}

/* line 22, ../sass/_tags.sass */
.post_cat a.tag1 {
  background-color: #88b9b9;
}
/* line 24, ../sass/_tags.sass */
.post_cat a.tag2 {
  background-color: #de958f;
}
/* line 26, ../sass/_tags.sass */
.post_cat a.tag3 {
  background-color: #a9c365;
}
/* line 28, ../sass/_tags.sass */
.post_cat a.tag4 {
  background-color: #99b3dd;
}

/* line 47, ../sass/inc/_tags.sass */
/* line 34, ../sass/_tags.sass */
.app_tag a.tag1 {
  background-color: #00adef;
}
/* line 36, ../sass/_tags.sass */
.app_tag a.tag2 {
  background-color: #e85461;
}
/* line 38, ../sass/_tags.sass */
.app_tag a.tag3 {
  background-color: #469c69;
}
/* line 40, ../sass/_tags.sass */
.app_tag a.tag4 {
  background-color: #c7e63f;
}
/* line 42, ../sass/_tags.sass */
.app_tag a.tag5 {
  background-color: #fc8e2c;
}

/* line 2, ../sass/_codemirror.sass */
.CodeMirror {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

/* line 6, ../sass/_codemirror.sass */
.cm-s-default .cm-trailing-space-a:before,
.cm-s-default .cm-trailing-space-b:before {
  position: absolute;
  content: "·";
  color: #777;
}

/* line 12, ../sass/_codemirror.sass */
.cm-s-default .cm-trailing-space-new-line:before {
  position: absolute;
  content: "↵";
  color: #777;
}

/* line 17, ../sass/_codemirror.sass */
table.diff {
  font-family: Courier;
  font-size: x-small;
  border: medium;
  width: 99%;
}

/* line 22, ../sass/_codemirror.sass */
.diff_header {
  background-color: #e0e0e0;
}

/* line 24, ../sass/_codemirror.sass */
td.diff_header {
  text-align: right;
}

/* line 26, ../sass/_codemirror.sass */
.diff_next {
  background-color: #c0c0c0;
}

/* line 28, ../sass/_codemirror.sass */
.diff_add {
  background-color: #aaffaa;
}

/* line 30, ../sass/_codemirror.sass */
.diff_chg {
  background-color: #ffff77;
}

/* line 32, ../sass/_codemirror.sass */
.diff_sub {
  background-color: #ffaaaa;
}

/* Header */
/* line 3, ../sass/_header.sass */
.header {
  float: left;
  margin-bottom: 10px;
  width: 980px;
}

/* Logo Banner */
/* line 10, ../sass/_header.sass */
.toplb {
  float: left;
  width: 980px;
  overflow: hidden;
}

/* line 15, ../sass/_header.sass */
.logo {
  float: left;
  text-indent: -9999px;
}
/* line 19, ../sass/_header.sass */
.logo a:link, .logo a:visited, .logo a:hover {
  width: 450px;
  height: 60px;
  background: url(../images/osgeo_logo.png) no-repeat 0 0;
  display: block;
}

/* line 27, ../sass/_header.sass */
.toptxt {
  margin-top: 15px;
  display: inline-block;
  padding-right: 5px;
  width: 320px;
  height: 60px;
  line-height: 20px;
  text-align: right;
  overflow: hidden;
}
/* line 36, ../sass/_header.sass */
.toptxt a {
  color: #4B4B4B;
  text-decoration: underline;
}
/* line 39, ../sass/_header.sass */
.toptxt a:hover {
  color: #B00;
}

/* line 42, ../sass/_header.sass */
#osgeo_ad {
  float: right;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

/* line 49, ../sass/_header.sass */
.panel-footer {
  color: #333333;
}
/* line 52, ../sass/_header.sass */
.panel-footer .container a {
  color: #333;
}

/* line 2, ../sass/_osgeo.sass */
.singlemeta span.cmts a:link, .singlemeta span.cmts a:visited {
  color: #bb0000;
}

/* line 5, ../sass/_osgeo.sass */
.fontbig {
  font-size: 150%;
  line-height: 160%;
}

/* line 9, ../sass/_osgeo.sass */
.fontmid {
  font-size: 130%;
  line-height: 140%;
}

/* line 13, ../sass/_osgeo.sass */
.fontsml {
  font-size: 14px;
  line-height: 24px;
}

/* line 17, ../sass/_osgeo.sass */
.meta a.mfcurrent {
  font-weight: bold;
}

/* Single */
/* line 22, ../sass/_osgeo.sass */
.single {
  padding: 0px 23px;
  width: 100%;
  line-height: 24px;
}
/* line 27, ../sass/_osgeo.sass */
.single h1, .single h2 {
  padding: 15px 0px 8px;
  font-size: 22px;
  color: #0b3b8c;
  text-align: center;
  border-bottom: 1px solid #e1e9f0;
}
/* line 34, ../sass/_osgeo.sass */
.single .singlemeta {
  padding: 3px 0px 0px;
  text-align: center;
}
/* line 38, ../sass/_osgeo.sass */
.single a {
  color: #006699;
  text-decoration: none;
}
/* line 42, ../sass/_osgeo.sass */
.single a:hover {
  color: #3399cc;
  text-decoration: underline;
}

/* line 46, ../sass/_osgeo.sass */
.entry {
  margin-top: 20px;
  font-size: 13px;
  overflow: hidden;
}
/* line 51, ../sass/_osgeo.sass */
.entry h2 {
  padding: 0;
  text-align: left;
  color: #222222;
  border: none;
}
/* line 57, ../sass/_osgeo.sass */
.entry p {
  margin-bottom: 15px;
  text-indent: 24px;
}
/* line 61, ../sass/_osgeo.sass */
.entry .summary {
  padding: 8px 5px 6px 10px;
  font-size: 13px;
  background-color: #f5f5f5;
  border: 1px solid #dfdfdf;
}
/* line 67, ../sass/_osgeo.sass */
.entry img {
  margin-bottom: 10px;
  max-width: 620px;
}
/* line 71, ../sass/_osgeo.sass */
.entry ul, .entry ol {
  margin: 10px 20px;
  margin-left: 40px;
  list-style: disc;
}
/* line 76, ../sass/_osgeo.sass */
.entry ul li {
  list-style: disc;
}
/* line 79, ../sass/_osgeo.sass */
.entry ol li {
  list-style: decimal;
}
/* line 82, ../sass/_osgeo.sass */
.entry a {
  color: #006699;
  text-decoration: none;
}
/* line 86, ../sass/_osgeo.sass */
.entry a:hover {
  color: #3399cc;
  text-decoration: underline;
}

/* line 90, ../sass/_osgeo.sass */
.aligncenter {
  text-align: center;
}

/* line 93, ../sass/_osgeo.sass */
.alignleft {
  float: left;
  padding-right: 10px;
}

/* line 97, ../sass/_osgeo.sass */
.alignright {
  float: right;
  padding-left: 10px;
}

/* line 101, ../sass/_osgeo.sass */
.alignnone {
  float: none;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

/* line 107, ../sass/_osgeo.sass */
.aligncenter {
  float: none;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  text-align: center;
  display: block;
}

/* Related Content */
/* line 117, ../sass/_osgeo.sass */
.relatedrandom {
  float: left;
  padding: 15px 0px 15px;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
}
/* line 123, ../sass/_osgeo.sass */
.relatedrandom h3 {
  margin-bottom: 10px;
  padding: 2px 0px 0px 10px;
  font-size: 13px;
  border-bottom: 1px solid #dddddd;
  background: #e0e0e0 url(../images/sprite.png) no-repeat right -178px;
}
/* line 130, ../sass/_osgeo.sass */
.relatedrandom ul {
  float: left;
  margin: 0px 0px;
  padding: 5px 0px 10px 10px;
  *padding: 5px 0px 0px 10px;
}
/* line 136, ../sass/_osgeo.sass */
.relatedrandom ul li {
  float: left;
  margin: 0px 10px 0px 0px;
  padding: 2px 0 4px 12px;
  width: 280px;
  line-height: 18px;
  background: url(../images/icon.png) no-repeat -496px -206px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 147, ../sass/_osgeo.sass */
.relatedrandom ul.rltimg {
  padding-left: 19px;
}
/* line 150, ../sass/_osgeo.sass */
.relatedrandom ul.rltimg li {
  margin: 0px 0px 10px 0px;
  padding: 2px 0px 4px 0px;
  width: 145px;
  text-align: center;
  background: none;
}
/* line 157, ../sass/_osgeo.sass */
.relatedrandom ul.rltimg li img {
  padding: 2px 2px;
  width: 125px;
  height: 100px;
  border: 1px solid #e0e0e0;
}
/* line 163, ../sass/_osgeo.sass */
.relatedrandom ul.rltimg li h4 {
  width: 125px;
  height: 36px;
  font-size: 13px;
  font-weight: normal;
  white-space: normal;
  overflow: hidden;
}

/* line 171, ../sass/_osgeo.sass */
.related, .random {
  float: left;
  width: 618px;
  border: 1px solid #dddddd;
  border-top: 1px solid #a3d1f0;
  overflow: hidden;
}

/* line 178, ../sass/_osgeo.sass */
.related {
  margin-bottom: 10px;
}

/* Error404 */
/* line 191, ../sass/_osgeo.sass */
.errorinfo {
  padding: 20px 280px;
}
/* line 194, ../sass/_osgeo.sass */
.errorinfo h4 {
  height: 32px;
  line-height: 32px;
  font-size: 28px;
  text-indent: -9999px;
  background: url(../images/404.gif) no-repeat center 0;
}
/* line 201, ../sass/_osgeo.sass */
.errorinfo span {
  margin-bottom: 25px;
  display: block;
}
/* line 205, ../sass/_osgeo.sass */
.errorinfo ol {
  padding: 0px 20px;
}
/* line 208, ../sass/_osgeo.sass */
.errorinfo ol li {
  margin: 8px 0px;
  list-style: decimal;
}

/* line 212, ../sass/_osgeo.sass */
.errorsearch {
  float: left;
  margin-top: 10px;
  width: 370px;
  border: 1px solid #cccccc;
}
/* line 218, ../sass/_osgeo.sass */
.errorsearch .searchInput {
  padding-left: 5px;
  width: 300px;
}
/* line 222, ../sass/_osgeo.sass */
.errorsearch .searchBtn {
  color: #006600;
  font-weight: bold;
  text-indent: 0;
  border-left: 1px solid #e0e0e0;
  background: url(../images/sprite.png) no-repeat -10px -181px;
}

/* Post Function */
/* line 231, ../sass/_osgeo.sass */
.postmeta {
  padding: 10px 0px 15px;
  line-height: 24px;
  color: #454545;
  position: relative;
}

/* line 237, ../sass/_osgeo.sass */
.wpyouvote {
  position: absolute;
  top: 40px;
  right: 20px;
  _right: 50px;
}

/* line 243, ../sass/_osgeo.sass */
.post_postvote {
  width: 60px !important;
  height: 60px !important;
  overflow: hidden;
}

/* line 248, ../sass/_osgeo.sass */
.post_votewidget {
  width: 60px !important;
  height: 60px;
  text-align: center;
  background: url(../images/digg.png) no-repeat 0 -140px !important;
}

/* line 254, ../sass/_osgeo.sass */
.post_votecount {
  padding: 5px 0 0 !important;
  width: 60px !important;
  background: none;
  position: relative;
  z-index: 100;
}

/* line 261, ../sass/_osgeo.sass */
.post_votebuttoncontainer {
  margin-top: -35px;
}
/* line 264, ../sass/_osgeo.sass */
.post_votebuttoncontainer img {
  display: none;
}

/* line 267, ../sass/_osgeo.sass */
.post_votebutton {
  width: 60px !important;
  height: 60px !important;
  line-height: 90px !important;
  font-size: 12px !important;
  background: none !important;
  display: block;
}
/* line 276, ../sass/_osgeo.sass */
.post_votebutton a:link, .post_votebutton a:visited {
  width: 60px !important;
  height: 60px;
  background: url(../images/digg.png) no-repeat 0 0;
  display: block;
}
/* line 282, ../sass/_osgeo.sass */
.post_votebutton a:hover {
  background: url(../images/digg.png) no-repeat 0 -70px;
}

/* line 285, ../sass/_osgeo.sass */
.posttool {
  float: right;
  padding: 6px 0px 8px;
  width: 100%;
  line-height: 20px;
  *line-height: 24px;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
  background-color: #f7f7f7;
}
/* line 295, ../sass/_osgeo.sass */
.posttool a {
  float: right;
  padding: 0px 15px 0px 21px;
  color: #454545;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  display: block;
}
/* line 303, ../sass/_osgeo.sass */
.posttool a:hover {
  color: #bb0000;
  text-decoration: underline;
}
/* line 307, ../sass/_osgeo.sass */
.posttool a.copylink {
  background-position: -483px -540px;
}
/* line 310, ../sass/_osgeo.sass */
.posttool a.subscribe {
  background-position: -483px -589px;
}
/* line 313, ../sass/_osgeo.sass */
.posttool a.share {
  background-position: -483px -565px;
}
/* line 316, ../sass/_osgeo.sass */
.posttool a.print {
  background-position: -483px -613px;
}

/* Pagenavi */
/* line 321, ../sass/_osgeo.sass */
.pagenavi {
  margin: 0px auto 30px;
  padding: 15px 0px 5px;
  text-align: center;
  vertical-align: middle;
}
/* line 328, ../sass/_osgeo.sass */
.pagenavi a:link, .pagenavi a:visited {
  margin: 0 2px;
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #d5d5d5;
  background-color: #f0f4f5;
  display: inline-table;
}
/* line 336, ../sass/_osgeo.sass */
.pagenavi a:hover, .pagenavi a:active {
  border: 1px solid #99ccee;
  color: #003366;
  background-color: #e3f2fc;
}
/* line 341, ../sass/_osgeo.sass */
.pagenavi a.extend {
  padding: 4px 8px;
  color: #222222;
}
/* line 345, ../sass/_osgeo.sass */
.pagenavi a.extend:hover {
  color: #003366 !important;
}
/* line 349, ../sass/_osgeo.sass */
.pagenavi a.current:link, .pagenavi a.current:visited, .pagenavi a.current:hover {
  border: 1px solid #0066ff;
  font-weight: bold;
  color: #00376d !important;
  background-color: #c5d5e4;
}
/* line 355, ../sass/_osgeo.sass */
.pagenavi span {
  padding-left: 10px;
  color: #666666;
}
/* line 359, ../sass/_osgeo.sass */
.pagenavi ul li {
  display: inline;
}

/* line 362, ../sass/_osgeo.sass */
.postnavi {
  margin: 0px auto 30px;
  padding: 15px 0px 5px;
  text-align: center;
}

/* line 367, ../sass/_osgeo.sass */
.previous_post, .next_post {
  width: 300px;
  height: 24px;
  overflow: hidden;
}

/* line 372, ../sass/_osgeo.sass */
.previous_post {
  float: left;
  text-align: left;
}

/* line 376, ../sass/_osgeo.sass */
.next_post {
  float: right;
  text-align: right;
}

/* line 381, ../sass/_osgeo.sass */
.postnavi a:link, .postnavi a:visited {
  color: #003366;
  text-decoration: none;
}
/* line 385, ../sass/_osgeo.sass */
.postnavi a:hover {
  color: #bb0000;
  text-decoration: underline;
}

/* Post Comment */
/* line 391, ../sass/_osgeo.sass */
.postcomment {
  margin-bottom: 15px;
  overflow: hidden;
}

/* line 395, ../sass/_osgeo.sass */
#addcomment, #comments {
  margin: 10px 0px 15px;
  padding: 10px 12px;
  font-size: 14px;
  border-top: 2px solid #a3d1f0;
  color: #00376d;
  background: url(../images/sprite.png) repeat-x 0 7px;
}

/* line 403, ../sass/_osgeo.sass */
#addcomment strong, #comments strong {
  padding: 0px 4px;
  color: #bb0000;
}

/* line 407, ../sass/_osgeo.sass */
#addcomment span, #comments span {
  float: right;
  *margin-top: -28px;
  *padding-right: 15px;
  font-size: 13px;
  font-weight: normal;
  color: #666666;
}

/* line 415, ../sass/_osgeo.sass */
.commentlist {
  padding: 0px 20px;
}
/* line 418, ../sass/_osgeo.sass */
.commentlist li {
  margin-bottom: 10px;
  padding: 10px 0px 20px;
  width: 100%;
  border-bottom: 1px solid #badaa1;
  min-height: 32px;
  height: auto !important;
  display: block;
  position: relative;
}
/* line 428, ../sass/_osgeo.sass */
.commentlist li ul {
  margin: 15px 0px;
}
/* line 431, ../sass/_osgeo.sass */
.commentlist li ul li {
  padding: 10px 10px 20px;
  width: 96%;
  border: 1px dotted #999999;
  background-color: #f3faf1;
}
/* line 437, ../sass/_osgeo.sass */
.commentlist li p {
  line-height: 20px;
  color: #454545;
}
/* line 441, ../sass/_osgeo.sass */
.commentlist li em {
  line-height: 16px;
  font-style: normal;
  color: #787878;
}
/* line 446, ../sass/_osgeo.sass */
.commentlist li cite {
  line-height: 16px;
  font-style: normal;
  font-weight: bold;
}
/* line 451, ../sass/_osgeo.sass */
.commentlist li .avatar {
  padding: 1px;
  border: 1px solid #dddddd;
}

/* line 455, ../sass/_osgeo.sass */
.comment_text {
  padding: 5px 0px 0px 40px;
}

/* line 458, ../sass/_osgeo.sass */
.comment_text2 {
  padding: 5px 40px 0px 0px;
}

/* line 461, ../sass/_osgeo.sass */
.cd-wrapper {
  margin-right: 0px !important;
}

/* Digg Comments */
/* line 466, ../sass/_osgeo.sass */
.comment_avatar {
  float: left;
  width: 38px;
}

/* line 470, ../sass/_osgeo.sass */
.comment_time {
  line-height: 18px;
  color: #999999;
}

/* line 475, ../sass/_osgeo.sass */
.commentlist li .comment_floor {
  color: #dddddd;
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 6px;
  right: 0;
}
/* line 484, ../sass/_osgeo.sass */
.commentlist li .comment_floor em {
  font-style: normal;
  color: #bbbbbb;
  font-size: 18px;
}
/* line 489, ../sass/_osgeo.sass */
.commentlist li ul li .comment_avatar {
  left: 10px;
}

/* line 492, ../sass/_osgeo.sass */
.reply {
  position: absolute;
  right: 0;
  bottom: 5px;
}

/* line 497, ../sass/_osgeo.sass */
.commentlist li ul li .reply {
  right: 10px;
}

/* line 500, ../sass/_osgeo.sass */
#cancel-comment-reply {
  float: right;
}

/* line 503, ../sass/_osgeo.sass */
.reply a, #cancel-comment-reply a {
  color: #003366;
}

/* line 506, ../sass/_osgeo.sass */
.reply a:hover, #cancel-comment-reply a:hover {
  color: #bb0000;
}

/* line 509, ../sass/_osgeo.sass */
#moidfy_info {
  text-decoration: underline;
  font-size: 12px;
  color: #666666;
  cursor: help;
}

/* line 515, ../sass/_osgeo.sass */
.welcome_author {
  color: #787878;
}
/* line 518, ../sass/_osgeo.sass */
.welcome_author a {
  color: #666666;
  text-decoration: underline;
}
/* line 522, ../sass/_osgeo.sass */
.welcome_author a:hover {
  color: #bb0000;
}

/* line 525, ../sass/_osgeo.sass */
#infotips {
  padding-left: 10px;
}

/* line 528, ../sass/_osgeo.sass */
.hidform {
  padding-bottom: 15px;
  width: 93%;
  height: 220px;
  border: 1px solid #cccccc;
  background-color: white;
  position: absolute !important;
  top: 110px;
  left: 20px;
  display: none;
}
/* line 539, ../sass/_osgeo.sass */
.hidform h4 {
  margin-bottom: 20px;
  padding: 5px 0px 6px;
  font-size: 14px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
}
/* line 546, ../sass/_osgeo.sass */
.hidform h4 strong {
  padding: 5px 12px 6px;
  background-color: #e5e8e8;
}
/* line 550, ../sass/_osgeo.sass */
.hidform h4 a {
  float: right;
  *margin-top: -24px;
  width: 45px;
  height: 18px;
  text-indent: -9999px;
  background: url(../images/button.png) no-repeat 0 -82px;
  display: block;
}
/* line 559, ../sass/_osgeo.sass */
.hidform h4 a:hover {
  background-position: -62px -82px;
}

/* line 562, ../sass/_osgeo.sass */
#submit_modify, #logincmt, #register {
  width: 100px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: black;
  background: url(../images/button.png) no-repeat 0 -38px;
  border: none;
  cursor: pointer;
}

/* line 572, ../sass/_osgeo.sass */
a.btn_closelayer {
  margin-left: 78px;
  text-indent: 0;
  text-decoration: none;
  display: block;
}

/* line 578, ../sass/_osgeo.sass */
.txtlong {
  padding: 5px 5px;
  width: 45%;
  color: #454545;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa #dddddd #dddddd #aaaaaa;
}

/* line 586, ../sass/_osgeo.sass */
.sbbtn {
  padding: 5px 5px;
  width: 45%;
}

/* line 590, ../sass/_osgeo.sass */
#userform, .hidform {
  position: relative;
}

/* line 593, ../sass/_osgeo.sass */
#userform label, .hidform label {
  float: left;
  width: 78px;
  height: 26px;
  line-height: 26px;
  text-align: right;
  display: block;
}

/* line 601, ../sass/_osgeo.sass */
.foravatar {
  position: absolute;
  top: 0px;
  right: 22px;
  _right: 42px;
  padding: 2px 2px;
  width: 68px;
  text-align: center;
  line-height: 22px;
  border: 1px solid #dddddd;
}
/* line 612, ../sass/_osgeo.sass */
.foravatar img {
  padding-bottom: 2px;
  border-bottom: 1px solid #dddddd;
}

/* line 616, ../sass/_osgeo.sass */
.memberinfo {
  padding: 0px 20px 10px;
  height: 32px;
  line-height: 16px;
  color: #999999;
}
/* line 622, ../sass/_osgeo.sass */
.memberinfo img {
  float: left;
  margin-right: 6px;
  padding: 1px;
  border: 1px solid #dddddd;
}

/* line 628, ../sass/_osgeo.sass */
#respond {
  width: 100%;
  position: relative;
}
/* line 632, ../sass/_osgeo.sass */
#respond p {
  padding: 5px 25px;
}
/* line 635, ../sass/_osgeo.sass */
#respond p.statement {
  color: #ff3300;
}
/* line 638, ../sass/_osgeo.sass */
#respond #userform p {
  padding: 5px 25px 8px;
}
/* line 641, ../sass/_osgeo.sass */
#respond em {
  color: #ff0242;
}
/* line 644, ../sass/_osgeo.sass */
#respond span {
  color: #999999;
}
/* line 647, ../sass/_osgeo.sass */
#respond .memberinfo span {
  color: #0066ff;
}

/* line 650, ../sass/_osgeo.sass */
.wp_smilies {
  padding: 10px 20px 0px;
}

/* line 653, ../sass/_osgeo.sass */
#author, #email, #url {
  padding: 5px 5px;
  width: 45%;
  color: #454545;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa #dddddd #dddddd #aaaaaa;
}

/* line 661, ../sass/_osgeo.sass */
#comment {
  padding: 5px 5px;
  width: 45%;
  color: #454545;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa #dddddd #dddddd #aaaaaa;
  width: 98%;
  _width: 95%;
  height: 150px;
  font-size: 12px;
  overflow-y: scroll;
}

/* line 674, ../sass/_osgeo.sass */
#submit {
  float: right;
  margin: 5px 0px 0px 5px;
  width: 90px;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #f3c287;
  text-indent: 5px;
  text-align: center;
  border: none;
  background: url(../images/button.png) no-repeat 0 0;
  cursor: pointer;
}

/* line 689, ../sass/_osgeo.sass */
.cmthtml {
  margin: 0px 10px;
  padding: 5px 10px;
  border: 1px dashed #d0dee3;
  color: #454545;
  background-color: #f3f5fa;
}
/* line 696, ../sass/_osgeo.sass */
.cmthtml small {
  font-size: 12px;
  line-height: 16px;
}

/* line 700, ../sass/_osgeo.sass */
.input_submit {
  height: 50px;
}

/* line 703, ../sass/_osgeo.sass */
.repeattip {
  float: right;
  padding-top: 12px;
}

/* Comment Navigation */
/* line 709, ../sass/_osgeo.sass */
.comment_navi {
  float: right;
  margin: 10px 15px 10px 0px;
  text-align: center;
}
/* line 714, ../sass/_osgeo.sass */
.comment_navi span.cpt {
  padding: 3px 6px 2px;
  background-color: #e3e3e3;
  border-bottom: 1px solid #d5d5d5;
}
/* line 719, ../sass/_osgeo.sass */
.comment_navi a {
  padding: 3px 3px 2px;
}
/* line 722, ../sass/_osgeo.sass */
.comment_navi a:hover {
  color: #ff0242;
}
/* line 725, ../sass/_osgeo.sass */
.comment_navi .current {
  font-weight: bold;
  color: #ff0242;
}

/* FriendLink */
/* line 731, ../sass/_osgeo.sass */
.friendlink {
  float: left;
  width: 978px;
  border: 1px solid #dfdfe3;
  overflow: hidden;
}

/* line 737, ../sass/_osgeo.sass */
.allfriendlink {
  margin-top: 10px;
}

/* line 741, ../sass/_osgeo.sass */
.friendlink h3 {
  height: 29px;
  line-height: 29px;
  font-size: 13px;
  text-indent: 12px;
  color: #454545;
  border-bottom: 1px solid #dfdfe3;
  background: url(../images/sprite.png) repeat-x 0 0px;
}
/* line 750, ../sass/_osgeo.sass */
.friendlink h3 span {
  float: right;
  *margin-top: -30px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: normal;
  color: #b4c8e0;
}
/* line 758, ../sass/_osgeo.sass */
.friendlink ul {
  float: left;
  padding: 8px 8px;
  width: 962px;
}
/* line 763, ../sass/_osgeo.sass */
.friendlink ul li {
  float: left;
  margin: 3px 3px;
  line-height: 18px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
/* line 771, ../sass/_osgeo.sass */
.friendlink ul h4 {
  display: none;
}
/* line 774, ../sass/_osgeo.sass */
.friendlink ul li img {
  border: 1px solid #dddddd;
}

/* line 777, ../sass/_osgeo.sass */
.flink {
  margin: 0px 0px !important;
  list-style: none;
}
/* line 781, ../sass/_osgeo.sass */
.flink li {
  float: left;
  margin-bottom: 5px;
  list-style: none !important;
}
/* line 786, ../sass/_osgeo.sass */
.flink li h4 {
  margin-bottom: 5px;
  padding-left: 12px;
  font-size: 13px;
  line-height: 28px;
  list-style: none;
  background-color: #f3f3f3;
  border-bottom: 1px solid #eeeeee;
}
/* line 795, ../sass/_osgeo.sass */
.flink li ul {
  float: left;
  margin: 0px 0px;
  width: 650px;
}
/* line 800, ../sass/_osgeo.sass */
.flink li ul li {
  float: left;
  padding: 0px 5px;
  list-style: none;
  white-space: nowrap;
}
/* line 806, ../sass/_osgeo.sass */
.flink li ul li img {
  margin-bottom: 0px;
  border: 1px solid #dddddd;
}

/* Footer */
/* line 813, ../sass/_osgeo.sass */
.footpage {
  margin-bottom: 15px;
  padding: 7px 10px 6px;
  text-align: center;
  border: 1px solid #dfdfe3;
  background: url(../images/sprite.png) repeat-x 0 0px;
}
/* line 820, ../sass/_osgeo.sass */
.footpage li {
  width: 1px;
  padding: 0px 8px 0px 12px;
  background: url(../images/sprite.png) no-repeat 0 -182px;
  display: inline;
  word-break: keep;
  white-space: nowrap;
}
/* line 828, ../sass/_osgeo.sass */
.footpage li.nb {
  background: none;
}

/* SiteAD */
/* line 833, ../sass/_osgeo.sass */
.ad_pageheaderbanner, .ad_logobanner, .ad_topfullbanner, .ad_pagefooterbanner, .ad_leftbanner {
  float: left;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
}

/* line 839, ../sass/_osgeo.sass */
.ad_pageheaderbanner {
  margin-bottom: 10px;
  width: 980px;
}

/* line 843, ../sass/_osgeo.sass */
.ad_logobanner {
  width: 600px;
  height: 60px;
}

/* line 847, ../sass/_osgeo.sass */
.ad_topfullbanner {
  margin-top: 10px;
  width: 980px;
}

/* line 851, ../sass/_osgeo.sass */
.ad_pagefooterbanner {
  margin: 10px 0px;
  width: 980px;
}

/* line 855, ../sass/_osgeo.sass */
.ad_leftbanner {
  margin-bottom: 10px;
  width: 718px;
}

/* line 859, ../sass/_osgeo.sass */
.ad_single {
  margin-bottom: 10px;
  vertical-align: top;
}

/* line 863, ../sass/_osgeo.sass */
.ad_singlebtm {
  margin: 15px 0px !important;
  text-align: center;
}

/* line 867, ../sass/_osgeo.sass */
.ad_singleleft {
  float: left;
  margin-bottom: 5px;
  padding-right: 15px;
}

/* line 872, ../sass/_osgeo.sass */
.ad_singleright {
  float: right;
  margin-bottom: 5px;
  padding-left: 10px;
}

/* line 877, ../sass/_osgeo.sass */
.ad_pageheaderbanner img, .ad_logobanner img, .ad_topfullbanner img, .ad_pagefooterbanner img, .ad_leftbanner img, .ad_single img {
  vertical-align: top;
}

/* line 880, ../sass/_osgeo.sass */
#ad_coupleleft {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 120px;
  text-align: center;
}

/* line 887, ../sass/_osgeo.sass */
#ad_coupleright {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 120px;
  text-align: center;
}

/* ViewPost */
/* line 896, ../sass/_osgeo.sass */
.viewpost {
  float: left;
  margin-bottom: 10px;
  width: 666px;
  border: 1px solid #dddddd;
  border-top: none;
  overflow: hidden;
}
/* line 904, ../sass/_osgeo.sass */
.viewpost h2 {
  float: left;
  margin-bottom: 10px;
  padding-left: 12px;
  width: 654px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  border-top: 2px solid #a3d1f0;
  border-bottom: 1px solid #e1e9f0;
  background: #f3f3f3 url(../images/sprite.png) no-repeat right -174px;
}
/* line 916, ../sass/_osgeo.sass */
.viewpost .viewlist {
  float: left;
  margin: 10px 15px;
  _margin: 10px 8px;
  width: 686px;
}

/* line 923, ../sass/_osgeo.sass */
.viewlist li {
  float: left;
  width: 636px;
}
/* line 927, ../sass/_osgeo.sass */
.viewlist .viewpostviews {
  float: left;
  padding: 5px 5px;
  width: 53px;
  height: 42px;
  text-align: center;
  background: url(../images/views.png) no-repeat center 0px;
  overflow: hidden;
}
/* line 936, ../sass/_osgeo.sass */
.viewlist .viewpostviews em {
  width: 53px;
  height: 30px;
  font-style: normal;
  display: block;
  overflow: hidden;
}
/* line 943, ../sass/_osgeo.sass */
.viewlist .viewpostviews strong {
  font-weight: normal;
  line-height: 14px;
  *line-height: 16px;
  color: #0091f0;
}
/* line 949, ../sass/_osgeo.sass */
.viewlist .postentry {
  float: right;
  width: 560px;
}
/* line 953, ../sass/_osgeo.sass */
.viewlist .postentry h3 {
  float: left;
  width: 560px;
  _margin-top: 0px;
}
/* line 958, ../sass/_osgeo.sass */
.viewlist .postentry .singlepostexcerpt {
  float: left;
  width: 560px;
}

/* line 962, ../sass/_osgeo.sass */
.sns {
  margin-bottom: 10px;
  padding: 12px 8px 8px 12px;
  width: 280px;
  line-height: 24px;
  border: 1px solid #b5d2ff;
  overflow: hidden;
}

/* line 970, ../sass/_osgeo.sass */
#list {
  width: 96%;
  margin: 0 auto;
}
/* line 974, ../sass/_osgeo.sass */
#list dt {
  width: 24%;
  height: 30px;
  background: #eeeeee;
  float: left;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  margin: 3px 0;
}
/* line 984, ../sass/_osgeo.sass */
#list dd {
  width: 24%;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: center;
  margin: 3px 0;
}

/* line 992, ../sass/_osgeo.sass */
.panel-footer {
  padding: 10px;
}
/* line 995, ../sass/_osgeo.sass */
.panel-footer a {
  color: white;
}

/* line 998, ../sass/_osgeo.sass */
.anniu a {
  color: white;
}

/* line 1001, ../sass/_osgeo.sass */
#xxck {
  width: 96%;
  margin: 0 auto;
}
/* line 1005, ../sass/_osgeo.sass */
#xxck dt {
  height: 30px;
  background: #dddddd;
  line-height: 30px;
  font-weight: bold;
  float: left;
  width: 15%;
  margin: 3px 0;
  text-align: center;
}
/* line 1015, ../sass/_osgeo.sass */
#xxck dd {
  width: 83%;
  height: 30px;
  float: left;
  line-height: 30px;
  background: #eeeeee;
  text-align: center;
  margin: 3px 0;
  text-align: left;
  padding-left: 10px;
}

/* line 1026, ../sass/_osgeo.sass */
#lb {
  width: 96%;
  margin: 0 auto;
}
/* line 1030, ../sass/_osgeo.sass */
#lb li {
  border-bottom: 1px #d3d3d3 dashed;
  marign: 10px 0;
  padding: 5px;
  line-height: 30px;
}
/* line 1036, ../sass/_osgeo.sass */
#lb a {
  font-size: 1.3em;
  color: dodgerblue;
  padding-left: 10px;
}
/* line 1041, ../sass/_osgeo.sass */
#lb span {
  color: gray;
  padding: 10px 5px;
  margin: 2px 10px 2px 5px;
}

/* line 1046, ../sass/_osgeo.sass */
.w96 {
  width: 96%;
  margin: 0 auto;
  line-height: 22px;
}

/* line 1051, ../sass/_osgeo.sass */
.sm {
  padding-bottom: 20px;
}

/* line 1054, ../sass/_osgeo.sass */
.gcx {
  width: 80%;
  margin: 0 auto;
  line-height: 30px;
}

/* line 1059, ../sass/_osgeo.sass */
.ywlb {
  line-height: 22px;
}
/* line 1062, ../sass/_osgeo.sass */
.ywlb h3 {
  margin-bottom: 10px;
}

/* line 1065, ../sass/_osgeo.sass */
.binfo {
  margin-top: 10px;
}

/*首页图片 */
/* line 1, ../sass/inc/_indexgoods.sass */
/* line 1071, ../sass/_osgeo.sass */
.indexGoods {
  height: 140px;
  margin-bottom: 10px;
}
/* line 1075, ../sass/_osgeo.sass */
.indexGoods .scrollBox .list li {
  float: left;
  display: inline;
  width: 162px;
  margin-right: 10px;
  overflow: hidden;
}
/* line 1082, ../sass/_osgeo.sass */
.indexGoods .scrollBox .list li img {
  width: 162px;
  height: 120px;
}
/* line 1086, ../sass/_osgeo.sass */
.indexGoods .scrollBox .list li span {
  width: 162px;
  height: 20px;
  line-height: 20px;
  display: block;
  text-align: center;
  overflow: hidden;
}

/* line 18, ../sass/inc/_indexgoods.sass */
/* line 27, ../sass/inc/_indexgoods.sass */
/* line 30, ../sass/inc/_indexgoods.sass */
/* Header */
/* line 1102, ../sass/_osgeo.sass */
.header {
  float: left;
  margin-bottom: 10px;
  width: 980px;
}

/* Logo Banner */
/* line 1109, ../sass/_osgeo.sass */
.toplb {
  float: left;
  width: 980px;
  overflow: hidden;
}

/* line 1114, ../sass/_osgeo.sass */
.logo {
  float: left;
  text-indent: -9999px;
}
/* line 1119, ../sass/_osgeo.sass */
.logo a:link, .logo a:visited, .logo a:hover {
  width: 450px;
  height: 60px;
  background: url(../images/osgeo_logo.png) no-repeat 0 0;
  display: block;
}

/* line 1125, ../sass/_osgeo.sass */
.toptxt {
  margin-top: 15px;
  display: inline-block;
  padding-right: 5px;
  width: 320px;
  height: 60px;
  line-height: 20px;
  text-align: right;
  overflow: hidden;
}
/* line 1135, ../sass/_osgeo.sass */
.toptxt a {
  color: #4b4b4b;
  text-decoration: underline;
}
/* line 1139, ../sass/_osgeo.sass */
.toptxt a:hover {
  color: #bb0000;
}

/* line 1142, ../sass/_osgeo.sass */
#osgeo_ad {
  float: right;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

/* Pagenavi */
/* line 1150, ../sass/_osgeo.sass */
.pagenavi {
  margin: 0px auto 30px;
  padding: 15px 0px 5px;
  text-align: center;
  vertical-align: middle;
}
/* line 1157, ../sass/_osgeo.sass */
.pagenavi a:link, .pagenavi a:visited {
  margin: 0 2px;
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #d5d5d5;
  background-color: #f0f4f5;
  display: inline-table;
}
/* line 1165, ../sass/_osgeo.sass */
.pagenavi a:hover, .pagenavi a:active {
  border: 1px solid #99ccee;
  color: #003366;
  background-color: #e3f2fc;
}
/* line 1170, ../sass/_osgeo.sass */
.pagenavi a.extend {
  padding: 4px 8px;
  color: #222222;
}
/* line 1174, ../sass/_osgeo.sass */
.pagenavi a.extend:hover {
  color: #003366 !important;
}
/* line 1178, ../sass/_osgeo.sass */
.pagenavi a.current:link, .pagenavi a.current:visited, .pagenavi a.current:hover {
  border: 1px solid #0066ff;
  font-weight: bold;
  color: #00376d !important;
  background-color: #c5d5e4;
}
/* line 1184, ../sass/_osgeo.sass */
.pagenavi span {
  padding-left: 10px;
  color: #666666;
}
/* line 1188, ../sass/_osgeo.sass */
.pagenavi ul li {
  display: inline;
}

/* line 1191, ../sass/_osgeo.sass */
.postnavi {
  margin: 0px auto 30px;
  padding: 15px 0px 5px;
  text-align: center;
}

/* line 1196, ../sass/_osgeo.sass */
.previous_post, .next_post {
  width: 300px;
  height: 24px;
  overflow: hidden;
}

/* line 1201, ../sass/_osgeo.sass */
.previous_post {
  float: left;
  text-align: left;
}

/* line 1205, ../sass/_osgeo.sass */
.next_post {
  float: right;
  text-align: right;
}

/* line 1210, ../sass/_osgeo.sass */
.postnavi a:link, .postnavi a:visited {
  color: #003366;
  text-decoration: none;
}
/* line 1214, ../sass/_osgeo.sass */
.postnavi a:hover {
  color: #bb0000;
  text-decoration: underline;
}

/* line 18, ../sass/inc/_tags.sass */
/* line 1220, ../sass/_osgeo.sass */
.kwd_cat {
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
  display: inline;
  color: #ffffff;
}

/* line 25, ../sass/inc/_tags.sass */
/* line 1229, ../sass/_osgeo.sass */
.kwd_cat a {
  color: #ffffff;
  text-decoration: none;
  margin: 0px 3px 0px 3px;
  padding: 0px 3px 0px 3px;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
/* line 1237, ../sass/_osgeo.sass */
.kwd_cat a:hover {
  color: #eeeeee;
}

/* line 4, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
/* line 1242, ../sass/_osgeo.sass */
.kwd_cat a:hover {
  text-decoration: underline;
}

/* line 33, ../sass/inc/_tags.sass */
/* line 1247, ../sass/_osgeo.sass */
.kwd_cat a.tag1 {
  background-color: #88b9b9;
}

/* line 35, ../sass/inc/_tags.sass */
/* line 1252, ../sass/_osgeo.sass */
.kwd_cat a.tag2 {
  background-color: #de958f;
}

/* line 38, ../sass/inc/_tags.sass */
/* line 1257, ../sass/_osgeo.sass */
.kwd_cat a.tag3 {
  background-color: #a9c365;
}

/* line 40, ../sass/inc/_tags.sass */
/* line 1262, ../sass/_osgeo.sass */
.kwd_cat a.tag4 {
  background-color: #99b3dd;
}

/* line 40, ../sass/inc/_tags.sass */
/* line 1267, ../sass/_osgeo.sass */
.kwd_cat a.tag5 {
  background-color: #3E7087;
}

/* line 1273, ../sass/_osgeo.sass */
.bor_bottom {
  border-bottom: 1px dashed #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

/* line 1278, ../sass/_osgeo.sass */
.panel-title .more {
  float: right;
  padding-right: 10px;
}

/* line 1282, ../sass/_osgeo.sass */
.d_nav a {
  color: #006699;
}

/* line 1285, ../sass/_osgeo.sass */
.infoselect span:hover, .pagination li:hover {
  cursor: pointer;
}

/* line 1288, ../sass/_osgeo.sass */
.line-height25 {
  line-height: 30px;
}

/* line 1291, ../sass/_osgeo.sass */
.pakage-cat li {
  width: 200px;
  margin-right: 60px;
  float: left;
  text-align: center;
  list-style-type: none;
}
/* line 1298, ../sass/_osgeo.sass */
.pakage-cat li i {
  width: 120px;
  height: 120px;
  display: block;
  background: url(../images/icon-pakage.png) no-repeat 0 0;
  margin: 0 auto;
}
/* line 1305, ../sass/_osgeo.sass */
.pakage-cat li .cat-name {
  line-height: 30px;
  padding: 13px 0;
  font-size: 24px;
}
/* line 1310, ../sass/_osgeo.sass */
.pakage-cat li .cat-des {
  line-height: 24px;
  color: #999;
  padding-bottom: 20px;
}
/* line 1315, ../sass/_osgeo.sass */
.pakage-cat li a {
  width: 118px;
  height: 38px;
  background: #fff;
  border: 1px solid #ccc;
  color: #666;
  display: block;
  margin: 0 auto;
  line-height: 38px;
}
/* line 1325, ../sass/_osgeo.sass */
.pakage-cat li.economic i {
  background-position: 0 0;
}
/* line 1328, ../sass/_osgeo.sass */
.pakage-cat li.standard i {
  background-position: 0 -140px;
}
/* line 1331, ../sass/_osgeo.sass */
.pakage-cat li.marketing i {
  background-position: 0 -280px;
}
/* line 1334, ../sass/_osgeo.sass */
.pakage-cat li.high-end i {
  background-position: 0 -420px;
}
/* line 1337, ../sass/_osgeo.sass */
.pakage-cat li.economic a:hover {
  background: #f76e00;
  color: #fff;
}
/* line 1341, ../sass/_osgeo.sass */
.pakage-cat li.standard a:hover {
  background: #9bcc00;
  color: #fff;
}
/* line 1345, ../sass/_osgeo.sass */
.pakage-cat li.marketing a:hover {
  background: #0088cb;
  color: #fff;
}
/* line 1349, ../sass/_osgeo.sass */
.pakage-cat li.high-end a:hover {
  background: #0dc9be;
  color: #fff;
}

/* line 1355, ../sass/_osgeo.sass */
body {
  line-height: 24px;
}

/* line 1357, ../sass/_osgeo.sass */
.red {
  color: #f00;
  font-weight: bold;
}

/* line 4, ../sass/_codeit.sass */
.codehilite {
  background: #f8f8f8;
}
/* line 5, ../sass/_codeit.sass */
.codehilite .hll {
  background-color: #ffffcc;
}
/* line 10, ../sass/_codeit.sass */
.codehilite .c {
  color: #408080;
  font-style: italic;
}
/* line 14, ../sass/_codeit.sass */
.codehilite .err {
  border: 1px solid #FF0000;
}
/* line 17, ../sass/_codeit.sass */
.codehilite .k {
  color: #008000;
  font-weight: bold;
}
/* line 21, ../sass/_codeit.sass */
.codehilite .o {
  color: #666666;
}
/* line 24, ../sass/_codeit.sass */
.codehilite .ch, .codehilite .cm {
  color: #408080;
  font-style: italic;
}
/* line 28, ../sass/_codeit.sass */
.codehilite .cp {
  color: #BC7A00;
}
/* line 31, ../sass/_codeit.sass */
.codehilite .cpf, .codehilite .c1, .codehilite .cs {
  color: #408080;
  font-style: italic;
}
/* line 35, ../sass/_codeit.sass */
.codehilite .gd {
  color: #A00000;
}
/* line 38, ../sass/_codeit.sass */
.codehilite .ge {
  font-style: italic;
}
/* line 41, ../sass/_codeit.sass */
.codehilite .gr {
  color: #FF0000;
}
/* line 44, ../sass/_codeit.sass */
.codehilite .gh {
  color: #000080;
  font-weight: bold;
}
/* line 48, ../sass/_codeit.sass */
.codehilite .gi {
  color: #00A000;
}
/* line 51, ../sass/_codeit.sass */
.codehilite .go {
  color: #888888;
}
/* line 54, ../sass/_codeit.sass */
.codehilite .gp {
  color: #000080;
  font-weight: bold;
}
/* line 58, ../sass/_codeit.sass */
.codehilite .gs {
  font-weight: bold;
}
/* line 61, ../sass/_codeit.sass */
.codehilite .gu {
  color: #800080;
  font-weight: bold;
}
/* line 65, ../sass/_codeit.sass */
.codehilite .gt {
  color: #0044DD;
}
/* line 68, ../sass/_codeit.sass */
.codehilite .kc, .codehilite .kd, .codehilite .kn {
  color: #008000;
  font-weight: bold;
}
/* line 72, ../sass/_codeit.sass */
.codehilite .kp {
  color: #008000;
}
/* line 75, ../sass/_codeit.sass */
.codehilite .kr {
  color: #008000;
  font-weight: bold;
}
/* line 79, ../sass/_codeit.sass */
.codehilite .kt {
  color: #B00040;
}
/* line 82, ../sass/_codeit.sass */
.codehilite .m {
  color: #666666;
}
/* line 85, ../sass/_codeit.sass */
.codehilite .s {
  color: #BA2121;
}
/* line 88, ../sass/_codeit.sass */
.codehilite .na {
  color: #7D9029;
}
/* line 91, ../sass/_codeit.sass */
.codehilite .nb {
  color: #008000;
}
/* line 94, ../sass/_codeit.sass */
.codehilite .nc {
  color: #0000FF;
  font-weight: bold;
}
/* line 98, ../sass/_codeit.sass */
.codehilite .no {
  color: #880000;
}
/* line 101, ../sass/_codeit.sass */
.codehilite .nd {
  color: #AA22FF;
}
/* line 104, ../sass/_codeit.sass */
.codehilite .ni {
  color: #999999;
  font-weight: bold;
}
/* line 108, ../sass/_codeit.sass */
.codehilite .ne {
  color: #D2413A;
  font-weight: bold;
}
/* line 112, ../sass/_codeit.sass */
.codehilite .nf {
  color: #0000FF;
}
/* line 115, ../sass/_codeit.sass */
.codehilite .nl {
  color: #A0A000;
}
/* line 118, ../sass/_codeit.sass */
.codehilite .nn {
  color: #0000FF;
  font-weight: bold;
}
/* line 122, ../sass/_codeit.sass */
.codehilite .nt {
  color: #008000;
  font-weight: bold;
}
/* line 126, ../sass/_codeit.sass */
.codehilite .nv {
  color: #19177C;
}
/* line 129, ../sass/_codeit.sass */
.codehilite .ow {
  color: #AA22FF;
  font-weight: bold;
}
/* line 133, ../sass/_codeit.sass */
.codehilite .w {
  color: #bbbbbb;
}
/* line 136, ../sass/_codeit.sass */
.codehilite .mb, .codehilite .mf, .codehilite .mh, .codehilite .mi, .codehilite .mo {
  color: #666666;
}
/* line 139, ../sass/_codeit.sass */
.codehilite .sb, .codehilite .sc {
  color: #BA2121;
}
/* line 142, ../sass/_codeit.sass */
.codehilite .sd {
  color: #BA2121;
  font-style: italic;
}
/* line 146, ../sass/_codeit.sass */
.codehilite .s2 {
  color: #BA2121;
}
/* line 149, ../sass/_codeit.sass */
.codehilite .se {
  color: #BB6622;
  font-weight: bold;
}
/* line 153, ../sass/_codeit.sass */
.codehilite .sh {
  color: #BA2121;
}
/* line 156, ../sass/_codeit.sass */
.codehilite .si {
  color: #BB6688;
  font-weight: bold;
}
/* line 160, ../sass/_codeit.sass */
.codehilite .sx {
  color: #008000;
}
/* line 163, ../sass/_codeit.sass */
.codehilite .sr {
  color: #BB6688;
}
/* line 166, ../sass/_codeit.sass */
.codehilite .s1 {
  color: #BA2121;
}
/* line 169, ../sass/_codeit.sass */
.codehilite .ss {
  color: #19177C;
}
/* line 172, ../sass/_codeit.sass */
.codehilite .bp {
  color: #008000;
}
/* line 175, ../sass/_codeit.sass */
.codehilite .vc, .codehilite .vg, .codehilite .vi {
  color: #19177C;
}
/* line 178, ../sass/_codeit.sass */
.codehilite .il {
  color: #666666;
}

/* Comment */
/* Error */
/* Keyword */
/* Operator */
/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
/* line 3, ../sass/_map.sass */
#map {
  margin: auto;
  text-align: center;
  align-self: center;
  width: 99%;
  height: 640px;
  border: 1px grey solid;
}
