{% extends "../theme/tmpldoc.html" %}



{% block head %}

<title>OSGeo中国中心 | 开放地理空间实验室</title>
<meta name="keywords" content="GIS,地理信息系统,开源GIS,OSGeo,OpenLayers,MapServer,GDAL,GIS教程,WebGIS">
<meta name="description" content="OSGeo中国中心实验室，关注开源GIS，开放数据">

<script type="text/javascript">
    $().ready(function () {

        $("#find_calc").validate(
                {
                    rules: {
                        keyword: {
                            required: true
                        }
                    },
                    messages: {
                        keyword: {
                            required: "<span class='red'>请输入要查询的关键词</span>"
                        }
                    }
                }
        );
    });

</script>

{% end %}


{% block content %}


<div class="panel-heading">
</div>
<div class="panel-body">


    <div class="content">
        <div class="breadcrumb"> 您的位置: <a href="{% module site_url() %}">首页</a> >
            查找用户
        </div>


        <form class="pure-form pure-form-aligned" method="post" id="find_calc" action="/user/find">

            <div class="pure-control-group">
                <label for="keyword">输入用户名</label>
                <input id="keyword" type="text" name="keyword" placeholder="用户名">
            </div>
            <div class="pure-control-group">
                <label for="d"></label>
                <button type="submit" id="d" name="d" class="pure-button pure-button-primary">查找</button>
            </div>


        </form>

    </div>


</div>


{% end %}
